* {
  margin: 0;
  padding: 0;
}


.navbar {
  text-align: center;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: black;
  color: white;
}

.fahad {
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-align: center;
}

.zain {
  width: 40%;
  padding: 20px;
}

.zain2 {
  width: 40%;
}

.zain2>img {
  width: 100%;
}

.button {
  
  background-color: orange;
  border-radius: 5px;
  width: 30%;
  height: 30px;
}

.container {
  display: flex;
}

.ddr {
  display: flex;
  background-color: black;
  color: white;
}
/* @media screen and (min-width: 480px) and (max-width: 768px) {
  body {
    background-color: lightgreen;
  }
}  */



@media screen and (max-width: 768px) {

  .navbar {
    flex-direction: column;
    gap: 10px;
  }

  .fahad {
    flex-direction: column;
  }

  .zain,
  .zain2 {
    width: 100%;
    text-align: center;
  }

  .container {
    flex-direction: column;
  }

  .ddr {
    flex-direction: column;
    text-align: center;
  }

  .col-4 {
    width: 100%;
    padding: 10px;
  }

  .button {
    width: 60%;
  }
}

 